/* Nardos Gebreegziabher */

/*Global Backgrounds, Colors, and Widths */
* {
    box-sizing:border-box;
}

body {
    font-size: 16px;
       line-height: 1.5;
       font-family: Verdana;
    margin: 0;
}
    header, ul, #content-wrapper {
        width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
    a {
        color: #008000
    }
    /* Logo Section */
    [id = logo] {
        position: absolute;
    top: 0px;
    left: 0px;
    }
    header {
        position: relative;
    }
    header h1, nav ul {
    padding-left: 50px;
    }
/* Navigation Bar Section */ 
    nav {
        background-color:#008000;
    }
    li {
    list-style-type: none;
    display: inline-block;
}

     ul  a {
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        color: white; 
    }
    ul a:hover {
        background-color:black;
color: #9ae39a;
    }

/* Home Page Main Image */
main article img {
    border:3px double #333;
    float: left;
margin: .5rem 1rem .5rem 0;
}

/* Home Page Bottom Columns */
main section {
    display: flex;
}

main section div {
    background-color: #e7ffe7;
    border:1px solid #008000;
    border-radius: 10px;
    margin-right: 1rem;
    flex: 1;
    text-align: center; 
}


#bam {
    margin-right:0;
}

main section div h2 {
    background-color: #008000;
    border-radius: 10px 10px 0px 0px;
    color:#ffffff;
    margin-top: 0;
}

main section div img {
    border: 3px double #333;
    display: block;
    margin: auto;
}

/* Sidebar Section */
aside section {
    background-color:white;
    margin-bottom: 1rem;
    border: 1px solid #008000;
    padding-bottom: 15px; 
}

aside h3 {
    background-color: #008000;
    color: white;
    padding: .5rem;
    display: block;
    text-decoration: none;
    margin-top: -1px; /* Had to include this to make the green heading for sidebar*/
}
/* Home Page Columns */
#content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

aside {
    order: 2;
    flex: 1;
    background-color: #ccc;
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    top: 20px;
    flex: 1;
}

aside h2{
    margin-top: 0;
    white-space: nowrap;
}  
  #content-wrapper main {
    order: 3;
  }
  #content-wrapper > aside {
    order: -1;              /* indentation */
    background-color: #ccc;
    margin-right: 1rem;
    padding: 1rem;      
    position: relative;
    top: 0;
    flex: 1 1 0;
    align-self: stretch;
  }
  
  #content-wrapper > main {
    display: flow-root;
    order: 0;              
    flex: 4 1 0;
    min-width: 0;          
  }

  #content-wrapper > aside h2 {
    color: black;              
    font-weight: bold;
    margin-top: 0;
    white-space: nowrap;
    text-decoration: none;         
  }  

 
